@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121213;
}
@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("/Helvetica Neue LT Std 75 Bold.otf") format("otf");
}

