@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: "HelveticaNeueLT Std";
  src: url("/Helvetica Neue LT Std 75 Bold.otf") format("otf");
}

